{
    "$schema": "https://www.schemastore.org/prettierrc.json",
    "printWidth": 100,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["**/package.json", "**/package-lock.json"],
            "options": {
                "plugins": ["prettier-plugin-packagejson"],
                "tabWidth": 2
            }
        }
    ]
}
